* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-size: 1.5rem;
}

:root {
  --primary-color: #000;
  --text-color: #fff;
}

a {
  text-decoration: none;
}

/*  Common */

.content {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */

.header_fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header_nav {
  background-color: var(--primary-color);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav--menu--list {
  width: 100%;
  display: flex;
  align-items: center;
}

.header_nav--menu--list li {
  display: inline-block;
  position: relative;
}

.header_nav--menu--list a {
  padding: 14px 25px;
}

.header_nav--menu--list a,
.header_nav--menu--extra {
  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 1.5;
}

.header_nav--menu--list li :hover {
  background-color: #ccc;
}

.header_nav--menu--extra {
  padding: 12px 25px;
}

.header_nav--menu--extra:hover {
  cursor: pointer;
}

.header_nav--menu--list > li:hover .header_nav--menu--item {
  display: block;
  background-color: #fff;
}

.header_nav--menu--list > li:hover .header_nav--menu--extra {
  background-color: #ccc;
  color: #000;
}

.header_nav--menu--list > li:hover .header_nav--menu--down {
  color: #000;
}

.header_nav--menu--item {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 160px;
  text-align: left;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  top: 46px;
  left: 0;
}

.header_nav--menu--item li {
  display: block;
}

.header_nav--menu--item a {
  color: var(--primary-color);
  display: block;
  padding: 8px 16px;
}

.header_nav--menu--down {
  display: inline-block;
  color: #fff;
}

/* Header_nav--search */
.header_nav--search {
  width: 62px;
  height: 46px;
}

.header_nav--search--icon {
  display: block;
  font-size: 2rem;
  text-align: center;
  padding: 13px 0;
  color: #fff;
}

.header_nav--search:hover {
  cursor: pointer;
  background-color: red;
}

/* Container */

.container {
  width: 100%;
  position: relative;
}

.container_img {
  width: 100%;
  object-fit: cover;
}

.container_info {
  position: absolute;
  color: #fff;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
}

.container_info--title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 400;
}

.container_info--desc {
  margin: 30px 0 50px;
  line-height: 1.5;
}

/*=================== The Band ======================*/

.band {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 88px 0 110px;
}

.band_title {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
}

.band_hobbit {
  display: block;
  text-align: center;
  margin-top: 32px;
  font-style: italic;
  opacity: 0.6;
}

.band_desc {
  margin-top: 32px;
  line-height: 1.5;
  text-align: justify;
}

.band_row {
  display: flex;
  margin-top: 74px;
  align-items: center;
}
.band_row--wrap {
  width: calc(100% / 3);
  padding: 0 50px;
}

.band_row--wrap--name {
  display: block;
  text-align: center;
}

.band_row--wrap--img {
  margin-top: 20px;
  object-fit: cover;
  width: 100%;
  border-radius: 2px;
}

/* ======================= Tour ======================= */

.tour {
  background: var(--primary-color);
  display: block;
  padding-top: 88px;
  margin-left: auto;
  margin-right: auto;
}

.tour_title {
  color: var(--text-color);
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
}

.tour_desc {
  display: block;
  text-align: center;
  color: var(--text-color);
  margin-top: 32px;
  font-style: italic;
  opacity: 0.6;
}

.tour_sell {
  margin-top: 42px;
  height: 120px;
  width: 768px;
  background: var(--text-color);
  margin-left: auto;
  margin-right: auto;
}

.tour_sell ul {
  height: 100%;
}

.tour_sell li {
  padding: 8px 16px 8px 20px;
  border-bottom: 1px solid #ccc;
}

.tour_sell--status {
  display: inline-block;
  padding: 4px 8px;
  margin-left: 8px;
  background-color: #f44336;
  color: var(--text-color);
}

.tour_sell li:nth-child(3) {
  border-bottom: none;
  padding: 12px 20px;
}

.tour_sell--remain {
  display: inline-block;
  border-radius: 50%;
  padding: 0px 4px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  float: right;
}

.tour-location {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 32px;
  padding-bottom: 110px;
}
.tour_wrap {
  background-color: var(--text-color);
  width: calc(100% / 3);
}

.tour_wrap + .tour_wrap {
  margin-left: 20px;
}

.tour_wrap--image {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.tour_wrap--box {
  padding: 16px;
}

.tour_wrap--title {
  font-weight: bold;
  color: #000;
}

.tour_wrap--date {
  margin-top: 28px;
  opacity: 0.8;
}

.tour_wrap--desc {
  margin-top: 26px;
  line-height: 1.5;
}

.tour_wrap--btn {
  margin-top: 22px;
  border: none;
  padding: 8px 16px;
  background: #000;
  cursor: pointer;
}

.tour_wrap--btn:hover {
  opacity: 0.8;
}

.tour_wrap--btn-ticket {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 400;
}

/* Contact */

.contact {
  padding: 88px 0 114px;
  margin-left: auto;
  margin-right: auto;
}

.contact_title {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.contact_desc {
  margin-top: 34px;
  opacity: 0.8;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.contact_info {
  margin-right: auto;
  margin-top: 54px;
  display: flex;
  width: 100%;
}

.contact_info--wrap--contact {
  display: flex;
  align-items: center;
}

.contact_info--wrap--name {
  margin-left: 16px;
  font-size: 1.8rem;
  line-height: 1.8;
}

.contact_info--form {
  margin-left: 180px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact_info--form--wrap {
  display: flex;
  justify-content: space-evenly;
}

.contact_info--form--input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 12px;
  overflow: visible;
}

.contact_info--form--input + .contact_info--form--input {
  margin-left: 20px;
}
.contact_info--form--title {
  margin-top: 10px;
}

.contact_into--form--btn {
  display: flex;
  margin-left: auto;
  border: none;
  padding: 10px 18px;
  margin-top: 16px;
  color: var(--text-color);
  background: var(--primary-color);
}

/* ============================ Location ======================= */
.location {
  width: 100%;
  object-fit: cover;
}

/* =================== Footer ====================== */
.footer {
  margin-top: 70px;
}

.footer_social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social--icon + .footer_social--icon {
  margin-left: 8px;
}

.footer_social--icon {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.footer_social {
  margin: 30px 0 55px;
}

.footer_social a {
  color: var(--primary-color);
}
